# Limpieza de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. La data contiene registros de fotocasa, el cual es uno de los sitios mas populares de bienes raíces en España. Por favor no hagas estos (web scraping) a no ser que sea para propósitos académicos.

El dataset fue descargado hace algunos años por Henry Navarro y en ningún caso se obtuvo beneficio económico de ello.

Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com. Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos, por ejemplo ¿cuál es la casa mas cara en todo el dataset?

Empecemos precisamente con esa pregunta... ¡Buena suerte!

Let's start with precisely that question... Good luck!

#### Ejercicio 00. Lee el dataset assets/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [189]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
Imp= open("pruebas.txt", "w")
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
#pd.set_option("display.max_colwidth", -1)
#pd.set_option("display.max_columns", None)
#pd.set_option('display.max_colwidth', 200)

# this CSV file contains semicolons instead of comas as separator
ds = pd.read_csv('assets/real_estate.csv', sep=';')
with Imp as Archivo:
    print(ds['price'].sort_values(), file=Imp)
    Imp.close()

#### Ejercicio 01. ¿Cuál es la casa mas cara en el todo el dataset? (★☆☆)

Imprime la direccion y el precio de la casa seleccionada. Por ejemplo:

`The house with address General Street Nº5 is the most expensive and its price is 5000000 USD`

In [161]:
PrecioMax=ds.query('price==price.max()')
#print(PrecioMax['address'],'\n',PrecioMax['price'],'\n')
max = ds['price'].max()
print('The house with address '+PrecioMax['address']+' is the most expensive and its price is '+str(max)+' USD')


#

13110    The house with address El Escorial is the most expensive and its price is 8500000 USD
Name: address, dtype: object

#### Ejercicio 02. ¿Cuál es la casa mas barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Por ejemplo:

`The house with address Concrete Street Nº1 is the cheapest and its price is 12000 USD`

In [191]:
PrecioMin=ds.query('price==price.min()')
#print(PrecioMax['address'],'\n',PrecioMax['price'],'\n')
min = ds['price'].min()
print(min)
print('The house with address '+PrecioMin['address']+' is the cheapest and its price is '+str(min)+' USD')

0
366                                                        The house with address Parla is the cheapest and its price is 0 USD
694      The house with address Avenida de Los Pirineos, 33, San Sebastián de los Reyes is the cheapest and its price is 0 USD
1003                       The house with address Paseo del Licenciado Vidriera, Getafe is the cheapest and its price is 0 USD
1255     The house with address Avenida del Cardenal Herrera Oria, 338,  Madrid Capital is the cheapest and its price is 0 USD
1534                        The house with address Calle Campomanes, Pozuelo de Alarcón is the cheapest and its price is 0 USD
1554                                          The house with address Boadilla del Monte is the cheapest and its price is 0 USD
1645                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
1798                                             The house with address  Madrid Capital is the cheapest and its price is 0 USD
1829                                             The house with address  Madrid Capital is the cheapest and its price is 0 USD
2049                                     The house with address Calle Acuario, Móstoles is the cheapest and its price is 0 USD
2058                                 The house with address Calle Praderas, Majadahonda is the cheapest and its price is 0 USD
2197                  The house with address Calle Procesiones, Villanueva del Pardillo is the cheapest and its price is 0 USD
2266           The house with address Calle Benito Perez Galdos, Torrejón de la Calzada is the cheapest and its price is 0 USD
2750                                             The house with address  Madrid Capital is the cheapest and its price is 0 USD
3036                The house with address Calle Francisco Vivancos, 6,  Madrid Capital is the cheapest and its price is 0 USD
3201                                           The house with address Torrejón de Ardoz is the cheapest and its price is 0 USD
3435                           The house with address Calle Diligencia,  Madrid Capital is the cheapest and its price is 0 USD
3959                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
3989                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
4019                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
4031                        The house with address Calle Campomanes, Pozuelo de Alarcón is the cheapest and its price is 0 USD
4167                                     The house with address Calle Acuario, Móstoles is the cheapest and its price is 0 USD
4362                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
4605                  The house with address Calle Procesiones, Villanueva del Pardillo is the cheapest and its price is 0 USD
4902                            The house with address Calle de Lozano,  Madrid Capital is the cheapest and its price is 0 USD
5013                                      The house with address Arroyomolinos (Madrid) is the cheapest and its price is 0 USD
5072                       The house with address Calle Granados, 16, Torrejón de Ardoz is the cheapest and its price is 0 USD
5439                                           The house with address Rivas-vaciamadrid is the cheapest and its price is 0 USD
5446                                             The house with address  Madrid Capital is the cheapest and its price is 0 USD
5463                                       The house with address Camarma de Esteruelas is the cheapest and its price is 0 USD
5628                The house with address Avenida 25 de Noviembre, Moraleja de Enmedio is the cheapest and its price is 0 USD
5645                                           The house with address Torrejón de Ardoz is the cheapest and its price is 0 USD
5648                                           The house with address Torrejón de Ardoz is the cheapest and its price is 0 USD
6439                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
6585                        The house with address Calle Campomanes, Pozuelo de Alarcón is the cheapest and its price is 0 USD
7227                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
7331                        The house with address Calle Campomanes, Pozuelo de Alarcón is the cheapest and its price is 0 USD
7356                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
8111                                      The house with address Calle Goya, 2, Brunete is the cheapest and its price is 0 USD
8172                        The house with address Calle Campomanes, Pozuelo de Alarcón is the cheapest and its price is 0 USD
8183     The house with address Avenida de Los Pirineos, 33, San Sebastián de los Reyes is the cheapest and its price is 0 USD
8192                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
8256                              The house with address Plaza Canto Redondo, 5, Getafe is the cheapest and its price is 0 USD
8828                                                    The house with address Móstoles is the cheapest and its price is 0 USD
8962                            The house with address Calle Veintiocho, 1, El Escorial is the cheapest and its price is 0 USD
10292                                                    The house with address Coslada is the cheapest and its price is 0 USD
10297                The house with address Calle de las Viñas del Rio,  Madrid Capital is the cheapest and its price is 0 USD
10436                                       The house with address Calle Crater, Getafe is the cheapest and its price is 0 USD
10498                                            The house with address  Madrid Capital is the cheapest and its price is 0 USD
11032                                     The house with address Arroyomolinos (Madrid) is the cheapest and its price is 0 USD
11291                  The house with address Calle Antonio Moya, Camarma de Esteruelas is the cheapest and its price is 0 USD
12034              The house with address V.c. Puente de Vallecas - A3,  Madrid Capital is the cheapest and its price is 0 USD
12630                                                      The house with address Corpa is the cheapest and its price is 0 USD
12667                                                      The house with address Pinto is the cheapest and its price is 0 USD
13271                 The house with address Calle Procesiones, Villanueva del Pardillo is the cheapest and its price is 0 USD
13272                 The house with address Calle Procesiones, Villanueva del Pardillo is the cheapest and its price is 0 USD
13273                        The house with address Avenida Pintor Antonio Lopez, Pinto is the cheapest and its price is 0 USD
14697     The house with address Calle Obispo Braulio Rodríguez Plaza, Aldea del Fresno is the cheapest and its price is 0 USD
14773                               The house with address Calle Planeta Neptuno, Parla is the cheapest and its price is 0 USD
15204                                                 The house with address Alcobendas is the cheapest and its price is 0 USD
Name: address, dtype: object

#### Ejercicio 03. ¿Cuál es la casa mas grande y la mas pequeña del dataset? (★☆☆)

Imprime la dirección y el area de las casas seleccionadas. Por ejemplo:

`The bigger house is located on Yukka Street Nº10 and its surface is 5000 meters`

`The smaller house is located on County Road 1 N and its surface is 200 meters`

In [163]:
# TODO

#### Ejercicio 04. ¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

Imprime el nombre de las poblaciones separadas por coma. Por ejemplo:

`> print(populations)`

`population1, population2, population3,...`

In [164]:
# TODO

#### Ejercicio 05. ¿El data set contiene valores no admitidos (NAs)? (★☆☆)

Imprima un booleano (`true` o `fase`) seguido de la fila/columna que contiene el NAs.

In [165]:
# TODO

#### Ejercicio 06. Elimina los NAs del data set, si aplica (★★☆)

Imprima una comparación entre las dimensiones del DataFrame original versus el DataFrame después de las eliminaciones.

In [166]:
# TODO

#### Ejercicio 07. ¿Cuál la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

Imprima el valor obtenido

In [167]:
# TODO

#### Ejercicio 08. Trazar el histograma de los precios para la población (level5 column) de "Arroyomolinos (Madrid)" y explica qué observas (★★☆)

Imprime el histograma de los precios y escribe en la celda del Markdown un breve análisis del trazado.

In [168]:
# TODO: Code

**TODO: Markdown**. Para escribir aquí, has doble click en este celda y elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 09. ¿ Son los precios promedios de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedio y escribe una conclusion acerca de ellos

In [169]:
# TODO

#### Ejercicio 10. ¿Son los promedios de precio por metro cuadrado (price/m2) de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedios de precio y escribe una conclusion acerca de ellos.

Pista: Crea una nueva columna llamada `pps` (price per square) y luego analiza los valore.s

In [170]:
# TODO

#### Ejercicio 11. Analiza la relación entre la superficie y el precio de las casas. (★★☆)

Pista: Puedes hacer un `scatter plot` y luego escribir una conclusion al respecto.

In [171]:
# TODO: Código

**TODO: Markdown**. Escribe aquí, haz doble click en este celda y elimina este contenido y reemplázalo por el texto que quires escribir. Luego ejecuta la celda.

#### Ejercicio 12. ¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

Imprime el valor obtenido.

In [172]:
# TODO

#### Ejercicio 13. ¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

Imprima la población y el número de casas.

In [173]:
# TODO

#### Ejercicio 14. Ahora vamos a trabajar con el "cinturón sur" de Madrid. Has un subconjunto del Dataframe original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada","Leganés","Getafe","Alcorcón" (★★☆)

Pista: Filtra el Dataframe original usando la columna `level5` y la función `isin`

In [174]:
# TODO

#### Ejercicio 15. Traza un gráfico de barra de la media de los precios y explica lo que observas (debes usar el subconjunto obtenido de la pregunta 14) (★★★)

Imprima un gráfico de barra de la media de precios y escriba en la celda Markdown un breve análisis del sector.

In [175]:
# TODO: Code

**TODO: Markdown**. Para escribir aquí, has doble click en esta celda, elimina este contenido y coloca en su lugar el texto que quieres escribir. Luego, ejecuta la celda.

#### Ejercicio 16. Calcula la media y la varianza dela muestra para las siguientes variables: precio, habitaciones, superficie y baños (debes usar el subconjunto obtenido en la pregunta 14) (★★★)

Imprime ambos valores por  cada variable.

In [176]:
# TODO

#### Exercise 17. What is the most expensive house of each population? You must use the subset obtained in the question 14 (★★☆)

Print both the address and the price of the selected house of each population. You can print a DataFrame or a single line for each population

In [177]:
# TODO

#### Exercise 18. Normalize the variable of prices for each population and plot the 4 histograms in the same plot (you must use the subset obtained in the question 14) (★★★)

For the normalization method you can use the one you consider to, there is not a single correct answer to this question. Print the plot and write in the Markdown cell a brief analysis about the plot

Hint: You can help yourself reviewing the multihist demo of Matplotlib

In [178]:
# TODO

**TODO: Markdown**. To write here, double click to this cell and just remove this content and place the text you want to write. Then, execute the cell.

#### Exercise 19. What can you say about the price per square meter (price/m2) between the towns of "Getafe" and "Alcorcón"? You must use the subset obtained in the question 14 (★★☆)

Hint: Create a new column called `pps` (price per square) and then analyse the values

In [179]:
# TODO

#### Exercise 20. Make the same plot for 4 different populations (level5 column) and rearrange them on the same graph? You must use the subset obtained in the question 14 (★★☆) 
Hint: make a scatter plot of each population using subplots.

In [180]:
# TODO

#### Ejercicio 21. Realiza un trazado de las coordenadas (columnas latitud y longitud) del cinturón ur de Madrid por color d cada población (debes usar el subconjunto obtenido en la pregunta 14) (★★★★)

Ejecuta la siguiente celda y luego comienza a codear en la siguiente. Debes implementar u código simple que transforme las columnas de coordenadas en un diccionario de python (agrega más información si es necesario) y agrégala al mapa.

In [181]:
from ipyleaflet import Map, basemaps

# Mapa centrado en (60 grados latitud et -2.2 grados longitud)
# Latitud, longitud
map = Map(center = (60, -2.2), zoom = 2, min_zoom = 1, max_zoom = 20, 
    basemap=basemaps.Stamen.Terrain)
map

ModuleNotFoundError: No module named 'ipyleaflet'

In [ ]:
## Aquí: traza la coordenadas de los estados

## PON TU CÓDIGO AQUÍ: